body {
    font-family: 'Barlow Condensed', sans-serif;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 50px;
}

.grid-item {
    border: 2px solid black;
    width: 36%;
    height: 80%;
    padding: 25px;
    text-align: center;
    
}

.hidden {
    visibility: hidden
}

.nav-ul {
    
        list-style-type: none;
        margin: 0;
        padding: 0;
}

li {
    display: inline-block;
    margin-right: 1em;
    
}

#signup-errors {
    color: red
}

#delete-button {
    font-size: 18px;
    background-color: #f44336;
    height: 50px;
    font-family: 'Barlow Condensed', sans-serif;
    
}






