
/* #a5f2f3  baby blue */

/* #0abab5 Tiffany blue */
/* #c0c0c0 contrasting grey */


body {
    font-family: 'Barlow Condensed', sans-serif;
}

#wrapper {
    margin-top: 3em;
    width: 80%;
    margin: 0 auto;

    border: 1px solid #0abab5 ;
}

#page-title {
    
    text-align: center;
    font-size: 1.7em;
}

/* center nav bar */

#nav {
    text-align: center;
    background: #0abab5;
    padding-top: 1em;
    padding-bottom: 1em;
}

#main {
    margin-left: 2em;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 50px;
}

.grid-item {
    border: 2px solid black;
    width: 36%;
    height: 80%;
    padding: 25px;
    text-align: center;
    
}

.song-play-style {
    width: 400px;
    height: 300px;
}

.red {
    color:red;
}

.hidden {
    visibility: hidden
}

.nav-ul {
    
        list-style-type: none;
        margin: 0;
        padding: 0;
}

#nav li {
    display: inline-block;
    margin-right: 3em;
    
}

#signup-errors {
    color: red
}

#delete-button {
    font-size: 18px;
    background-color: #f44336;
    height: 50px;
    font-family: 'Barlow Condensed', sans-serif;
    
}






